<%-include("../../partials/auth/header.ejs")%>

<body>
    <section id="forgot">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3>New Password!!!</h3>
                    <form action="" method="post">
                        <p><%=message%></p>
                        <label for="">New Password</label>
                        <input type="password" name="newpassword" id="" class="form-control">
                        <label for="">Confirm Password</label>
                        <input type="password" name="confirmpassword" id="" class="form-control">
                        <button type="submit" value="Submit" class="form-control bg-success mt-2" >Submit</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
</body>