<%-include("../../partials/auth/header.ejs")%>

<body>
    <section id="verify">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2><%=message%>></h2>
                    <p><a href="http://localhost:8080/auth/login">Click to Login</a></p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
</body>