<%-include("../../partials/auth/header.ejs")%>

<body>
    <section id="forgot">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3>Forgot Password!!!</h3>
                    <form action="" method="post">
                        <input type="email" name="email" id="" class="form-control" placeholder="Enter Your Email Address">
                        <input type="submit" value="Submit" class="form-control btn btn-success submit">
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
</body>