<%-include("../../partials/auth/header.ejs")%>

<body>
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3>Login Here !!!</h3>
                    <p><%=message%></p>
                    <form action="" method="post">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="" class="form-control">
                        <label for="pass" >Password</label>
                        <input type="password" name="password" id="" class="form-control">
                        <input type="submit" value="Submit" class="form-control btn btn-success submit">
                    </form>
                    <hr>
                    <p class="forgot"><a href="/auth/forgetpassword" >Forgot Password</a></p>
                    <a href="/auth/createaccount"><button class="btn btn-warning newacc">Create New Account</button></a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
</body>