<div class="col-md-3">
    <a href="/admin/dashboard"><button class="btn btn-primary mt-2 form-control">Dashboard</button></a>
    <a href="/admin/usermanagement"><button class="btn btn-primary mt-2 form-control">User Management</button></a>
    <button class="btn btn-primary mt-2 form-control">?</button>
    <button class="btn btn-primary mt-2 form-control">?</button>
</div>