<%-include("../../partials/header.ejs")%>


<section id="passchange">

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 ">
                <form action="" method="post">
                    <h3>Change Password !!!</h3>
                    <p><%=message%></p>
                    <label for="">Current Password</label>
                    <input type="password" name="oldpassword" id="" class="form-control">
                    <label for="">New Password</label>
                    <input type="password" name="newpassword" id="" class="form-control">
                    <label for="">Confirm Password</label>
                    <input type="password" name="confirmpassword" id="" class="form-control">
                    <input type="submit" value="Change Password" class="form-control btn btn-success mt-2">
                </form>
            </div>
        </div>
    </div>

</section>