#login {
    display: flex;
    height: 700px;
    align-items: center;
}

#login h3 {
    text-align: center;
    margin: 40px 0;
}

#login .submit {
    margin-top: 15px;
}

#login .forgot{
    text-align: center;
}

#login .forgot a {
    text-decoration: none;
    text-align: right;
}

#login .newacc {
    display: flex;
    margin:auto
}   


#forgot {
    display: flex;
    height: 700px;
    align-items: center;
}

#forgot h3 {
    text-align: center;
    margin: 40px 0;
}

#forgot .submit {
    margin-top: 15px;
}